
<table style="width:100%">
    <tr>
        <th>Appellation</th>
        <th>Name</th>
        <th>Rating</th>
        <th>Price</th>
        <th>Vineyard</th>
        <th>Varietal</th>
        <th>Vintage</th>
        <th>Region</th>
        <th>Description</th>
        <th>Alocohol</th>
        <th>Lattitude</th>
        <th>Longitude</th>
    </tr>

    {% for k, v in wine_list.items %}
        
            <tr>
                {% for wine in v %}        

                <td> {{ wine }} </td>

                {% endfor %}
                
            </tr>
       
    {% endfor %}

</table>



